@font-face {
    font-family: apfl-regular;
    src: url("../../assets/font/ApfelGrotezk-Regular.otf");
}

@font-face {
    font-family: apfl-medium;
    src: url("../../assets/font/ApfelGrotezk-Mittel.otf");
}

.form-and-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    margin: 0 0 2rem 0;
}

.form-and-select form{
    flex: 1;
}

.form-and-select select{
    background-color: var(--l1-elevation);
    height:5rem;
    padding:.5rem;
    border: 1px solid var(--border-color);
    color: var(--main-text-color);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    cursor: pointer;
}

.all-coins .single-coin-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0 0 2rem 0;
    border-bottom: 1px solid hsl(0, 0%, 27%, 0.4);
    padding: 0 0 1.5rem 0;
    column-gap: 1rem;
}

.single-coin-container .logo-and-name{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.logo-and-name .logo-container{
    width:4rem; 
    height:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    border: 1px solid var(--border-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo-container img{
    width:2rem;
    height:2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.single-coin-container .price-info{
    flex: 1;
}

.single-coin-container > img{
    width: 2rem;
    cursor: pointer;
}

.price-info h1{
    text-align: right;
}

.name h1, .price-info h1
{
    font-size: 1.3rem;
    color: var(--main-text-color);
    font-weight: normal;
    margin: 0 0 .2rem 0;
}

.name p, .price-info p
{
    font-size: 1.3rem;
    color: var(--sub-text-color);
}

.price-info p{
    text-align: right;
    font-family: apfl-medium;
}

.price-info p.bad{
    color: var(--error-color);
}

.price-info p.good{
    color: var(--success-color);
}